body {
  box-sizing: border-box;
}

#output {
  height: 20rem;
  width: 40rem;
  max-width: 97%;
  border: 1px solid #333;
  border-radius: 2px;
  display: block;
  padding: 3px;
  overflow: auto;
}

#input {
  width: 40rem;
  max-width: 97%;
}

pre {
  margin-bottom: 0px;
}
